.tela.mod1tela14
  position relative
  min-height 100%
  width 100%
  height 100% /* cross-browser */
  background url('../assets/images/p1/desktop/bgs/bg_04.png')
  //background-attachment fixed
  background-position center
  background-repeat no-repeat
  background-size cover
  transition background 0.7s

  .container-fluid
    height 100%
    padding 0 5rem

    .row
      height 100%

    .box-selection
      position relative
      width 2rem
      height 2rem
      border-radius 5px
      border 3px solid grey
      margin 0 auto

    .menu-items
      position relative

      .menu-item
        display inline-table
        width 12rem
        text-align center
        border-radius 2rem
        min-height 3rem
        margin-bottom 1rem
        color white
        font-weight 500
        background #017b95
        margin-right 1rem

        p
          display table-cell
          vertical-align middle

        &.menu-item-2
          background #178e88

        &.visited
          background #8bd65f
          color #005c70
          font-weight bold

    .answer-item
      background white

      &.selected
        background rgba(227,75,74,1)

        .box-selection
          border 3px solid white

        p
          color white
          font-weight 500

      &.certo
        background rgba(54,193,110,1)

        .box-selection
          border 3px solid white

        p
          color white
          font-weight 500

    .correct
      border-left 5px solid rgba(54,193,110,1)
      padding-left 1rem
      margin-top 1rem

      p
        color rgba(54,193,110,1)

    .wrong
      border-left 5px solid rgba(227,75,74,1)
      padding-left 1rem
      margin-top 1rem

      p
        color rgba(227,75,74,1)

@media screen and (orientation: portrait)
  .tela.mod1tela14
    background url('../assets/images/p1/desktop/bgs/bg_04.png')
    //background-attachment fixed
    background-position top center
    background-repeat no-repeat
    background-size cover

    /*.container-fluid
      .vertical-middle
        display block
        transform none
        padding-top 3rem*/
