<div class="tela mod1tela16" ng-swipe-down="vm.game.prev()">

  <div class="container-fluid no-padding">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="black vertical-middle">
          <div class="">
            <div class="bg-white black border-radius px-3 py-3 m-px-3 m-py-3">
              <p class="semititle bold blue">Conclusão</p>
              <p>A comunicação é um dos pilares do HCRM Einstein e deve ser trabalhada no nosso dia a dia, pois cada um de nós é responsável pela segurança do paciente e desta forma, construímos juntos uma jornada rumo à alta confiabilidade. Você HOJE conseguiu atuar em favor da segurança do paciente?</p>
            </div>

            <div class="bg-blue white border-radius px-3 py-3 m-px-3 m-py-3 mt-2 m-mt-2">
              <p class="semititle bold white">Obrigado pela sua participação neste treinamento. Até o próximo!</p>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="navbuttons">
    <div class="prevBtn" ng-click="vm.game.prev()">
      <img src="assets/images/p1/botoes/botao_voltar.png" alt="">
    </div>
    <div class="nextBtn" ng-click="vm.game.next()" ng-show="vm.game.screenFinished()">
      <img src="assets/images/p1/botoes/botao_avancar.png" alt="">
    </div>
  </div>

</div>
