.tela.menu
  position relative
  min-height 100%
  width 100%
  height auto /* cross-browser */
  min-height calc(100 * var(--vh))
  background white
  padding 2rem 0
  overflow-x hidden

  .screen
    position relative
    z-index 10

  .b1
    color #10ab97
  .b2
    color #36cbd4
  .b3
    color #045f9a
  .b4
    color #00a5e4

  ul
    padding-left 1.5rem

    li
      margin-bottom 0.1rem

  .first-boxes
    min-height 19rem

  .bg-img-03
    position relative

    &:before
      content ""
      position absolute
      left 0
      top 0
      width 100%
      height 100%
      background url(../assets/images/imagens/imagem_03.png)
      background-size cover

  .bg-img-11
    position relative

    &:before
      content ""
      position absolute
      left 0
      top 0
      width 100%
      height 100%
      background url(../assets/images/imagens/imagem_11.png)
      background-size cover

  .bg-1
    background url('../assets/images/bgs/bg_01_p_01.png')
    //background-attachment fixed
    background-position center
    background-repeat no-repeat
    background-size cover

  .bg-woman
    &:after
      content ""
      position absolute
      width 45%
      height 100%
      left 45%
      top 0
      background url('../assets/images/imagens/imagem_01.png')
      //background-attachment fixed
      background-position bottom center
      background-repeat no-repeat
      background-size auto 80%

  .bg-2
    background url('../assets/images/bgs/bg_02.png')
    //background-attachment fixed
    background-position center
    background-repeat no-repeat
    background-size contain

  .screen.screen-2
    position relative

  .bg-3
    position absolute
    right -15px
    top -10%
    width 40%
    height 120%
    background url('../assets/images/bgs/bg_retangulo_azul_01.png')
    //background-attachment fixed
    background-position right center
    background-repeat no-repeat
    background-size auto 100%

    &:before
      content ""
      position absolute
      width 100%
      height 100%
      right 0
      top 0
      background url('../assets/images/bgs/poa_azul_03.png')
      //background-attachment fixed
      background-position right center
      background-repeat no-repeat
      background-size auto 80%

    &:after
      content ""
      position absolute
      width 100%
      height 100%
      right 0
      top 0
      background url('../assets/images/imagens/imagem_02.png')
      //background-attachment fixed
      background-position right center
      background-repeat no-repeat
      background-size auto 60%

  .fases-01
    position relative
    width 100%
    /*background url('../assets/images/formas/linhas_menu_fases.png')
    background-position center
    background-repeat no-repeat
    background-size auto 100%*/
    //padding 0 22rem

    .fase-bkg
      margin 0 auto

    .fase-btn
      position absolute
      left 50%
      transform translateX(-50%)
      width 18%

      &.fase-btn-1
        top 12%
      &.fase-btn-2
        top 29.7%
      &.fase-btn-3
        top 47.7%
      &.fase-btn-4
        top 65.5%

      img
        width 100%

    .content-text
      position absolute
      width 35%
      height 20%
      display table

      &.content-text-1
        left 2%
        top 8%
      &.content-text-2
        right 2%
        top 26%
      &.content-text-3
        left 2%
        top 44%
      &.content-text-4
        right 2%
        top 62%

      .content-text-inner
        display table-cell
        vertical-align middle

  .fases-02
    position relative
    width 100%
    /*background url('../assets/images/formas/linhas_menu_fases.png')
    background-position center
    background-repeat no-repeat
    background-size auto 100%*/
    //padding 0 22rem

    .fase-bkg
      margin 0 auto

    .fase-btn
      position absolute
      left 50%
      transform translateX(-50%)
      width 18%

      &.fase-btn-1
        top 24%
      &.fase-btn-2
        top 39.3%
      &.fase-btn-3
        top 54.5%
      &.fase-btn-4
        top 69.8%

      img
        width 100%

    .content-text
      position absolute
      width 35%
      height 20%
      display table

      &.content-text-0
        left 4%
        top 0%

      &.content-text-1
        left 2%
        top 19%
      &.content-text-2
        right 2%
        top 34.5%
      &.content-text-3
        left 2%
        top 50.5%
      &.content-text-4
        right 2%
        top 65.5%

      .content-text-inner
        display table-cell
        vertical-align middle

  .bg-caso
    background url('../assets/images/formas/linha_o_caso.png')
    //background-attachment fixed
    background-position center
    background-repeat no-repeat
    background-size 100% 100%

  .bg-caso-2
    background url('../assets/images/formas/linha_o_caso_03.png')
    //background-attachment fixed
    background-position center
    background-repeat no-repeat
    background-size 100% 100%

  .truefalse_btn
    display inline-block
    vertical-align middle
    border-radius 2rem
    padding 1rem 0
    text-align center
    min-width 10rem
    transition 0.2s background
    margin 0 0.5rem

    p
      font-weight bold
      color black

    &.true_btn
      background rgba(54,193,110,0.4)

    &.false_btn
      background rgba(227,75,74,0.4)

    &.selected
      &.true_btn
        background rgba(54,193,110,1)

      &.false_btn
        background rgba(227,75,74,1)

      p
        color white

  .bg-4
    background url('../assets/images/imagens/imagem_06.png')
    //background-attachment fixed
    background-position center
    background-repeat no-repeat
    background-size 100% auto
    min-height 20rem
    border-radius 2rem

  .timeline
    position relative

    .timeline-btn
      display block
      position relative
      text-align center
      padding-top 6rem

      &:before
        content ""
        position absolute
        left 50%
        top 0rem
        width 3px
        height 6rem
        background #7c9474
        transform translateX(-50%)

      &.last
        padding-bottom 6rem
        &:after
          content ""
          position absolute
          left 50%
          bottom 0
          width 3px
          height 6rem
          background #7c9474
          transform translateX(-50%)

      &.last2
        padding-bottom 2rem
        &:after
          content ""
          position absolute
          left 50%
          bottom 0
          width 3px
          height 2rem
          background #7c9474
          transform translateX(-50%)

      .timeline-btn-inside
        position relative
        display inline-block
        padding 1rem 2rem
        border-radius 1.5rem
        font-weight bold
        color white
        background #7c9474
        z-index 20

      .timeline-item
        position absolute
        width 12rem
        max-width 35%
        height auto
        top 7.5rem
        transform translateY(-50%)
        z-index 10

        p
          background white
          color black
          border-radius 1.5rem
          padding 1rem
          box-shadow 0 0 15px 1px rgba(0,0,0,0.2)
          text-align left

          &.bg-green
            background #7c9474
            color white

        &.timeline-left
          right calc(50% + 6rem)

          &:before
            content ""
            position absolute
            left 100%
            top 50%
            width 6rem
            height 3px
            background #7c9474
            transform translateY(-50%)
            z-index 9

        &.timeline-right
          left calc(50% + 6rem)

          &:before
            content ""
            position absolute
            left -6rem
            top 50%
            width 6rem
            height 3px
            background #7c9474
            transform translateY(-50%)
            z-index 9

      &.bigger
        padding-top 9rem

        &:before
          height 9rem

        .timeline-item
          top 10.5rem

  .bg-5
    position absolute
    right 0
    top 0
    width 50%
    height 100%
    background url('../assets/images/bgs/bg_azul_claro_com_imagem.png')
    //background-attachment fixed
    background-position right center
    background-repeat no-repeat
    background-size auto 100%

  .bg-6
    position absolute
    left 0
    top 10%
    width 40%
    height 50%
    background url('../assets/images/bgs/bg_azul_escuro_com_imagem.png')
    //background-attachment fixed
    background-position left center
    background-repeat no-repeat
    background-size auto 100%

  .bg-7
    position absolute
    right 0
    top 0
    width 50%
    height 70%
    background url('../assets/images/imagens/imagem_10.png')
    //background-attachment fixed
    background-position center
    background-repeat no-repeat
    background-size contain
    transform translateX(8%) translateY(3%)

  .question-item
    padding 1.2rem 0
    border-bottom 1px solid #ccc

    .question-selection
      display inline-block
      vertical-align middle
      width 3rem
      height 3rem
      border-radius 50%
      border 3px solid #0e8ddc
      margin 0 1.5rem

    .question-text
      display inline-block
      vertical-align middle
      width calc(100% - 8rem)

    &.selected
      .question-selection
        background #0e8ddc

  .bg-line-left-big
    position relative

    &:before
      content ""
      position absolute
      left 0
      top 0
      width 9vw
      height 56vw
      background url('../assets/images/formas/linha_azul_02.png')
      background-position left top
      background-repeat no-repeat
      background-size 100% 100%
      transform translateX(-100%) translateY(calc(-100% + 2px))
      z-index -1

  .bg-line-left
    position relative

    &:before
      content ""
      position absolute
      left 0
      top 0
      width 30vw
      height 16vw
      background url('../assets/images/formas/linha_azul_05.png')
      background-position left top
      background-repeat no-repeat
      background-size 100% 100%
      transform translateX(-100%) translateY(calc(-100% + 3px))
      z-index -1

    &.line-green
      &:before
        background url('../assets/images/formas/linha_verde_01.png')
        background-position left top
        background-repeat no-repeat
        background-size 100% 100%

  .bg-line-right-big
    position relative

    &:before
      content ""
      position absolute
      right 0
      top 0
      width 30vw
      height 35vw
      background url('../assets/images/formas/linha_azul_04.png')
      background-position left top
      background-repeat no-repeat
      background-size 100% 100%
      transform translateX(100%) translateY(calc(-100% + 2px))
      z-index -1

  .bg-line-right
    position relative

    &:before
      content ""
      position absolute
      right 0
      top 0
      width 30vw
      height 30vw
      background url('../assets/images/formas/linha_azul_07.png')
      background-position left top
      background-repeat no-repeat
      background-size 100% 100%
      transform translateX(100%) translateY(calc(-100% + 3px))
      z-index -1

    &.line-yellow
      &:before
        height 18vw
        background url('../assets/images/formas/linha_amarela_01.png')
        background-position left top
        background-repeat no-repeat
        background-size 100% 100%

    &.line-green
      &:before
        height 16vw
        background url('../assets/images/formas/linha_rubi_01.png')
        background-position left top
        background-repeat no-repeat
        background-size 100% 100%

    &.short
      &:before
        width 20vw
        height 15vw

  .screen.screen-2
    position relative
    &:before
      content ""
      position absolute
      left -15px
      top 8rem
      width 12vw
      height 96vw
      background url('../assets/images/bgs/bg_retangulo_azul_02.png')
      background-position left top
      background-repeat no-repeat
      background-size 100% 100%
      z-index 0

  .screen.screen-3
    position relative
    &:before
      content ""
      position absolute
      right -15px
      top 70%
      width 16vw
      height 50vw
      background url('../assets/images/bgs/poa_azul_03.png')
      background-position right top
      background-repeat no-repeat
      background-size 100% 100%
      z-index 1

  .screen.screen-4
    position relative
    //background #f8f8f8
    z-index 10

    &:before
      content ""
      position absolute
      left -15px
      top 35%
      width 12vw
      height 15vw
      background url('../assets/images/bgs/bg_cerebro.png')
      background-position left center
      background-repeat no-repeat
      background-size contain
      z-index 0

    &:after
      content ""
      position absolute
      right -15px
      top 49%
      width 14vw
      height 17vw
      background url('../assets/images/bgs/bg_crebro_02.png')
      background-position right center
      background-repeat no-repeat
      background-size contain
      z-index 0

  .screen.screen-5
    position relative
    z-index 9

    &:before
      content ""
      position absolute
      left 4rem
      top -25%
      width calc(100% - 8rem)
      height 100%
      background url('../assets/images/bgs/bg_caso.png')
      background-position center
      background-repeat no-repeat
      background-size 100% 100%
      z-index 0

  .screen.screen-6
    position relative
    z-index 9

    &:before
      content ""
      position absolute
      left 20%
      top 30%
      width calc(60%)
      height 60%
      background url('../assets/images/bgs/bg_quadrado_verde.png')
      background-position center
      background-repeat no-repeat
      background-size 100% 100%
      z-index 0

  .screen.screen-7
    position relative
    z-index 9

    &:before
      content ""
      position absolute
      left 20%
      top 30%
      width calc(60%)
      height 60%
      background url('../assets/images/bgs/bg_retangulo_azul_acinzentado_01.png')
      background-position center
      background-repeat no-repeat
      background-size 100% 100%
      z-index 0

  .screen.screen-8
    background #f8f8f8

  .screen.screen-8, .screen.screen-14
    position relative
    //background #f8f8f8
    z-index 10

    &:before
      content ""
      position absolute
      left -15px
      top 50%
      width 12vw
      height 15vw
      background url('../assets/images/bgs/bg_cerebro.png')
      background-position left center
      background-repeat no-repeat
      background-size contain
      z-index 0

    &:after
      content ""
      position absolute
      right -15px
      top 66%
      width 14vw
      height 17vw
      background url('../assets/images/bgs/bg_crebro_02.png')
      background-position right center
      background-repeat no-repeat
      background-size contain
      z-index 0

  .screen.screen-9
    position relative
    z-index 10

  .screen.screen-10
    position relative
    z-index 9

    &:before
      content ""
      position absolute
      left 4rem
      top -25%
      width calc(100% - 8rem)
      height 100%
      background url('../assets/images/bgs/bg_caso.png')
      background-position center
      background-repeat no-repeat
      background-size 100% 100%
      z-index 0

  .screen.screen-11
    position relative
    z-index 9

    &:before
      content ""
      position absolute
      left 20%
      top 17%
      width calc(60%)
      height 73%
      background url('../assets/images/bgs/bg_cinza.png')
      background-position center
      background-repeat no-repeat
      background-size 100% 100%
      z-index 0
      border-radius 2rem

  .screen.screen-13
    position relative
    z-index 9

    &:before
      content ""
      position absolute
      left 20%
      top 50%
      width calc(60%)
      height 40%
      background url('../assets/images/bgs/bg_retangulo_azul_acinzentado_01.png')
      background-position center
      background-repeat no-repeat
      background-size 100% 100%
      z-index 0

  .screen.screen-19
    z-index 9

  .screen.screen-20
    background url('../assets/images/imagens/imagem_19.png')
    //background-attachment fixed
    background-position center
    background-repeat no-repeat
    background-size contain

  .screen.screen-21
    position relative
    z-index 10

  .screen.screen-22
    position relative
    z-index 9

    &:before
      content ""
      position absolute
      left 4rem
      top -10%
      width calc(100% - 8rem)
      height 110%
      background url('../assets/images/bgs/bg_caso.png')
      background-position center
      background-repeat no-repeat
      background-size 100% 100%
      z-index 0

  .screen.screen-23
    position relative
    z-index 9

    &:before
      content ""
      position absolute
      left 20%
      top 10%
      width calc(60%)
      height 80%
      background url('../assets/images/bgs/bg_cinza.png')
      background-position center
      background-repeat no-repeat
      background-size 100% 100%
      z-index 0
      border-radius 2rem

    .dot
      position relative
      display inline-block
      width 1rem
      height 1rem
      border-radius 50%
      background #7c9474
      margin-bottom -3px

  .bg-vertical-line
    position relative

    &:before
      content ""
      position absolute
      left 3rem
      top 0
      width 3px
      height calc(100% + 2rem)
      background #0e8ddc

  .bg-last-line
    position relative

    &:before
      content ""
      position absolute
      left 3rem
      top 0
      width 5rem
      height calc(50% + 2rem)
      border-radius 0 0 0 2rem
      border-left 3px solid #0e8ddc
      border-bottom 3px solid #0e8ddc

  .screen.screen-24
    position relative
    z-index 9

    &:before
      content ""
      position absolute
      left 20%
      top 10%
      width calc(60%)
      height 80%
      background url('../assets/images/bgs/bg_retangulo_azul_acinzentado_01.png')
      background-position center
      background-repeat no-repeat
      background-size 100% 100%
      z-index 0

  .screen.screen-25
    position relative
    background #f8f8f8
    z-index 10

    &:before
      content ""
      position absolute
      right -15px
      top 5%
      width 35%
      height 90%
      background url('../assets/images/bgs/bg_retangulo_ azul_opaco.png')
      background-position right center
      background-repeat no-repeat
      background-size contain
      z-index 0



  .left-balls
    position absolute
    left -15px
    top 0
    width 10%
    height 100%
    background-image url('../assets/images/bgs/poa_azul_claro_grande_02.png')
    background-position left top
    background-repeat no-repeat
    background-size 100% auto
    z-index -1

    &.left-balls-small
      width 10%

    &.grey-balls
      background-image url('../assets/images/bgs/poa_cinza.png')

    &.grey-balls-small
      background-image url('../assets/images/bgs/poa_cinza_01.png')

    &.green-balls
      background-image url('../assets/images/bgs/poa_verde_04.png')

    &.blue-balls
      background-image url('../assets/images/bgs/poa_azul_04.png')

    &.degrade-balls
      background-image url('../assets/images/bgs/poa_degrade_verde_amarelo.png')

    &.red-balls
      background-image url('../assets/images/bgs/poa_rosa_01.png')

    &.red-degrade-balls
      background-image url('../assets/images/bgs/poa_degrade_rosa_azul.png')

  .right-balls
    position absolute
    right -15px
    top 0
    width 10%
    height 100%
    background-image url('../assets/images/bgs/poa_azul_claro_grande_02.png')
    background-position right top
    background-repeat no-repeat
    background-size 100% auto
    z-index -1

    &.grey-balls
      background-image url('../assets/images/bgs/poa_cinza.png')

    &.grey-balls-small
      background-image url('../assets/images/bgs/poa_cinza_01.png')

    &.green-balls
      background-image url('../assets/images/bgs/poa_verde_04.png')

    &.blue-balls
      background-image url('../assets/images/bgs/poa_azul_04.png')

    &.degrade-balls
      background-image url('../assets/images/bgs/poa_debrade_amarelo_azul.png')

    &.red-balls
      background-image url('../assets/images/bgs/poa_rosa_01.png')

  .left-aba
    position absolute
    left -15px
    top 0
    width 8%
    height 100%
    background-image url('../assets/images/bgs/bg_retangulo_azul_acinzentado_03.png')
    background-position left top
    background-repeat no-repeat
    background-size 100% auto
    z-index -1

    &.green-aba
      background-image url('../assets/images/bgs/bg_verde_02.png')

    &.grey-aba
      background-image url('../assets/images/bgs/bg_retangulo_cinza_03.png')

    &.orange-aba
      background-image url('../assets/images/bgs/bg_retangulo_laranja_01.png')

  .right-aba
    position absolute
    right -15px
    top 0
    width 8%
    height 100%
    background-image url('../assets/images/bgs/bg_retangulo_azul_acinzentado_02.png')
    background-position right top
    background-repeat no-repeat
    background-size 100% auto
    z-index -1

    &.green-aba
      background-image url('../assets/images/bgs/bg_verde_01.png')

    &.grey-aba
      background-image url('../assets/images/bgs/bg_retangulo_cinza.png')

  .left-ball
    position absolute
    left -15px
    top 0
    width 10%
    height 100%
    background url('../assets/images/bgs/bg_circulo_amarelo_02.png')
    background-position left top
    background-repeat no-repeat
    background-size 100% auto
    z-index -1

  .right-ball
    position absolute
    right -15px
    top 0
    width 10%
    height 100%
    background url('../assets/images/bgs/bg_circulo_amarelo_01.png')
    background-position right top
    background-repeat no-repeat
    background-size 100% auto
    z-index -1

  .left-blue-rect
    position absolute
    left -15px
    top 0
    width 25%
    height 50%
    background url('../assets/images/bgs/bg_quadrado_azul_claro.png')
    background-position left center
    background-repeat no-repeat
    background-size 100% auto
    z-index -1

  .right-blue-rect
    position absolute
    right -15px
    top 0
    width 25%
    height 50%
    background url('../assets/images/bgs/bg_retangulo_ azul_opaco.png')
    background-position left center
    background-repeat no-repeat
    background-size 100% auto
    z-index -1

  .left-grey-rect
    position absolute
    left -15px
    top 0
    width 30%
    height 50%
    background url('../assets/images/bgs/bg_retangulo_verde_acinzentado_01.png')
    background-position left center
    background-repeat no-repeat
    background-size 100% auto
    z-index -1

  .bg-tira-azul-left
    position absolute
    left -15px
    top 0
    width 10%
    height 100%
    background url('../assets/images/bgs/bg_retangulo_azul_02.png')
    background-position left top
    background-repeat no-repeat
    background-size 100% auto
    z-index -1

  .bg-tira-azul-right
    position absolute
    right -15px
    top 0
    width 10%
    height 100%
    background url('../assets/images/bgs/bg_retangulo_azul_invertido.png')
    background-position left top
    background-repeat no-repeat
    background-size 100% auto
    z-index -1

  .left-form
    position absolute
    left -15px
    top 0
    width 50%
    height 100%
    background url('../assets/images/bgs/bg_imagem_linhas_01.png')
    background-position left top
    //background-repeat no-repeat
    background-size 100% auto
    z-index -1

  .right-form
    position absolute
    right -15px
    top 0
    width 50%
    height 60%
    background url('../assets/images/bgs/bg_imagem_linhas_02.png')
    background-position right top
    //background-repeat no-repeat
    background-size 100% auto
    z-index -1

  .left-guy
    position relative

    &:before
      content ""
      position absolute
      left -50%
      top 15%
      width 50%
      height 75%
      background url('../assets/images/imagens/imagem_extra_02.png')
      background-position right center
      background-repeat no-repeat
      background-size contain
      z-index -1

  .full-size
    background-size 100% 100%

/* Small devices (tablets, 768px and up) */
@media screen and (orientation:portrait)
  .tela.menu
    position relative

    .fases-01, .fases-02

      .content-text

        &.content-text-0
          width 42%

        .content-text-inner
          p
            margin-bottom 0
            line-height 110%

    .fases-02

      .content-text

        &.content-text-4
          top 68%

    .first-boxes
      min-height 22rem

    .bg-3
      position absolute
      right -15px
      top 0%
      width 30%
      height 100%
      background url('../assets/images/bgs/bg_retangulo_azul_01.png')
      //background-attachment fixed
      background-position right center
      background-repeat no-repeat
      background-size auto 100%

      &:before
        content ""
        position absolute
        width 100%
        height 100%
        right 0
        top 0
        background url('../assets/images/bgs/poa_azul_03.png')
        //background-attachment fixed
        background-position right center
        background-repeat no-repeat
        background-size auto 80%

      &:after
        content ""
        position absolute
        width 100%
        height 100%
        right 0
        top 0
        background url('../assets/images/imagens/imagem_02.png')
        //background-attachment fixed
        background-position right center
        background-repeat no-repeat
        background-size auto 60%

    .screen.screen-2
      position relative
      &:before
        display none

    .screen.screen-4, .screen.screen-8, .screen.screen-14
      position relative
      //background #f8f8f8
      z-index 10

      &:before
        display none

      &:after
        display none

    .screen.screen-5, .screen.screen-10
      position relative
      z-index 9

      &:before
        content ""
        position absolute
        left -15px
        top -25%
        width calc(100% + 30px)
        height 100%
        background url('../assets/images/bgs/bg_caso.png')
        background-position center
        background-repeat no-repeat
        background-size 100% 100%
        z-index 0

    .screen.screen-17
      .bg-tira-azul-left
        display none

    .screen.screen-22
      position relative
      z-index 9

      &:before
        content ""
        position absolute
        left -15px
        top -10%
        width calc(100% + 30px)
        height 100%
        background url('../assets/images/bgs/bg_caso.png')
        background-position center
        background-repeat no-repeat
        background-size 100% 100%
        z-index 0

