<div class="tela mod1tela1" ng-swipe-up="vm.game.next()">

  <div class="container-fluid no-padding">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="vertical-middle black">
          <div class="px-2 m-px-2">
            <div class="">
              <img class="img-responsive block centered" src="assets/images/p1/desktop/imagens/frase_01.png" alt="Imagem dando as boas vindas ao treinamento de metas internacionais de segurança do paciente.">
            </div>
            <p class="mt-1 m-mt-1 pb-2 m-pb-2">Primeiro, conheça os objetivos educacionais.</p>
          </div>

          <div class="bg-blue border-radius px-3 py-2 m-px-2 m-py-2 white">
            <p>1) Compreender o pilar de consciência situacional, exemplificando as fases que estão relacionadas.</p>

            <p>2) Conhecer os fatores que podem reduzir o nível de consciência situacional.</p>

            <p>3) Identificar as estratégias e ferramentas que ampliam a consciência situacional.</p>

            <p>4) Avaliar por meio de caso clínico o uso das ferramentas que ampliam a consciência situacional, projetando os riscos associados com o objetivo de evitar possíveis danos.</p>
          </div>

          <div class="center">
            <img class="block centered mt-2 m-mt-2" src="assets/images/p1/desktop/botoes/botao_clique_aqui_para_iniciar.png" alt="" style="max-height: 3rem;" ng-click="vm.next()">
          </div>

        </div>
      </div>

    </div>
  </div>

  <!--div class="navbuttons">
    <div class="prevBtn" ng-click="vm.game.gotoMenu()">
      <img src="assets/images/p1/botoes/botao_voltar.png" alt="">
    </div>
    <div class="nextBtn" ng-click="vm.game.next()" ng-show="vm.game.screenFinished()">
      <img src="assets/images/p1/botoes/botao_avancar.png" alt="">
    </div>
  </div-->

</div>
